* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary: #ca3b3a;
  --black: #161616;
  --gray: #707070;
}

html {
  font-size: 62.5%;
}
